.blog-title{
    display:flex;
    justify-content:center;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.blog-title h1{
    font-size:40px;
    font-family: Cairo, sans-serif;
    font-weight: 700;
    border-bottom: 3px solid #82AE3F;
    border-radius: 10px;
}

.blog-card{
    height:100%;
}
.blog-image img{
}
.date-comment{
    margin-top: 10px;
    justify-content: space-around;
    font-family: 'Cairo', sans-serif;
}
.heading p{
    
    font-size: 20px;
    font-family: Cairo, sans-serif;
    margin-left: 20px;
    font-weight: 600;
}
.description{
    font-size: 16px;
    font-family: Cairo, sans-serif;
    margin-left: 20px;
}
